/*? FONTS **/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700;900&family=Dancing+Script:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
/**? FIN FONTS **/
/*!? RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    min-width: 0 !important;
}
/*? FIN RESET */

/*! BODY */
body {
    background-image: url(../img/fotomasa2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Libre Baskerville", serif;
}
/*! FIN BODY */

/*! HEADER */
header {
    height: 100px;
    background-color: rgb(220, 191, 155);
    padding: 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 a {
    text-decoration: none;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    color: #8a2c17d5;
    font-size: 50px;
    text-shadow: 1px 1px 1px #35160c;
    transition: font-size 0.3s, text-shadow 0.3s;
}

header h1 a:hover {
    font-size: 51px;
    text-shadow: 1px 1px 2px black;
    transition: font-size 0.3s, text-shadow 0.3s;

}  
/*! FIN HEADER */

/*! NAV */
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    list-style: none;
    margin: 10px;
}

header nav ul li a {
    text-decoration: none;
    font-weight: 700;
    color: #8a2c17d5;
    font-size: 15px;
    text-shadow: 0.5px 0.5px 1px #35160c;
    transition: color 0.3s, font-size 0.3s;
}

header nav ul li a:hover {
    color: #8a2c17d5;
    font-size: 17px;
}
/*! FIN NAV */

nav {
    position: relative;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

/*! NAV RESPONSIVE */

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    #menu-toggle:checked + .menu-icon + #nav-links {
        display: flex;
        background-color: rgba(242, 221, 195, 0.793);
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        animation: slideDown 0.5s ease-in-out;
    }


    header nav ul {
        display: none;
        flex-direction: column;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    #menu-toggle:checked + .menu-icon + #nav-links {
        opacity: 1;
    }

    header nav ul li {
        margin: 10px 0;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
/*! FIN NAV RESPONSIVE */


/*! MAIN */
main {
    color: rgba(242, 221, 195, 0.793) !important;
    margin: 10px 0;
    padding: 1rem;
    text-align: center;
    height: 100%;
}

/** HERO SECTION */
main h2 {
    font-size: 25px;
    margin: 20px;
}

/*? TARJETAS */
.hero-section {
    height: calc(100vh - 100px);
    background-color: rgba(0, 0, 0, 0.686) !important;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.hero-section-tarjetas {
    padding: 1rem;  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
    flex-wrap: wrap;
}

.hero-section-tarjetas img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0% !important;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    border-radius: 0%;
}

.card {
    background-color: rgba(242, 221, 195, 0.793);
    border: 0 !important;
    height: 350px;
    width: 250px;
    border-radius: 0% !important;
}

.btn {
    border: 0 !important;
    background-color: rgba(242, 221, 195, 0.793);
    color: #8a2c17;
    font-weight: 700;
    margin: 0;
    /* border-radius: 10% !important; */
}

/*? Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
    }

    header h1 a {
        font-size: 40px;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 5px 0;
    }

    .hero-section-tarjetas {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 10%;
    }
}

@media (max-width: 480px) {
    header h1 a {
        font-size: 30px;
    }

    header nav ul li a {
        font-size: 12px;
    }

    .hero-section {
        height: auto;
    }

    .hero-section-tarjetas img {
        height: 200px;
    }
}
/*? Responsive */

/*? FIN TARJETAS */
/** FIN HERO SECTION */
/** NOSOTROS **/
.contenedor-nosotros {
    background-color: rgba(0, 0, 0, 0.686);
    margin-top: 30px;
    padding: 2rem;
    color: rgba(242, 221, 195, 0.904);
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 80% 20%;
    grid-template-areas:
        "tyr historia" 
        "tyr historia" 
        "saludo saludo";
}

.contenedor-nosotros h2 {
    grid-area: titulo;
}

.foto-Tyr {
    grid-area: tyr;
}

.foto-Tyr img {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.los_albores {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    color: #ca623ce4;
    font-size: 20px;
    text-shadow: 1px 1px 1px #502010;
}

.historia {
    grid-area: historia;
    font-size: 14px;
    margin-top: 70px;
}

.saludo p {
    grid-area: saludo;
    font-size: 20px;
    padding-top: 20px;
    margin: 0;
}

@media (max-width: 768px) {
    .contenedor-nosotros {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "titulo"
            "tyr"
            "historia"
            "saludo";
    }

    .foto-Tyr img {
        width: 100%;
    }
}
/** FIN NOSOTROS **/

/** USTEDES **/

.carousel-inner {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(242, 221, 195, 0.793);}

.carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 570px;
    width: 320px;
}


/** FIN USTEDES **/


/** CONTACTO **/



.botones_contacto {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.botones_contacto input {
    padding: 10px 20px;
    font-size: 16px;
}

.contacto {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(242, 221, 195, 0.793);
    margin-top: 30px;
}

.contacto h2 {
    margin-bottom: 45px;
}

.contenedor_contacto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.formulario_contacto {
    flex: 1;
    min-width: 300px;
}

.formulario_contacto form div {
    margin-bottom: 1rem;
}

.formulario_contacto label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.formulario_contacto input, .formulario_contacto textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Libre Baskerville", serif;
    font-size: 0.9rem;
}

.formulario_contacto input[type="submit"], .formulario_contacto input[type="reset"] {
    background-color: rgba(242, 221, 195, 0.793);
    color: #8a2c17;
    font-weight: 700;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-right: 0.5rem;
    font-size: 0.9rem;
}

.formulario_contacto input[type="submit"]:hover, .formulario_contacto input[type="reset"]:hover {
    background-color: #8a2c17;
    color: rgba(242, 221, 195, 0.793);
}

.mapa_contacto {
    flex: 1;
    min-width: 300px;
    padding: 20px;
}

.mapa_contacto iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 4px;
}

/*? Responsive */
@media (max-width: 768px) {
    .contenedor_contacto {
        flex-direction: column;
        align-items: center;
    }

    .formulario_contacto, .mapa_contacto {
        width: 100%;
        margin-bottom: 1rem;
    }

    .mapa_contacto iframe {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .formulario_contacto div {
        margin-bottom: 1rem;
    }

    .formulario_contacto label, .formulario_contacto input, .formulario_contacto textarea {
        width: 100%;
    }
}
/*? Fin Responsive */
/** FIN CONTACTO **/

/*! ---- FOOTER ---- */
.contenedor_footer {
    background-color: rgba(242, 221, 195, 0.904);
    color: rgba(0, 0, 0, 0.686);
    height: auto;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "logo_los_albores direccion instagram_redes"
        "logo_los_albores direccion wapp_redes";
    justify-content: space-between;
    text-align: center;
    gap: 10px;
}

.logo_los_albores {
    grid-area: logo_los_albores;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_los_albores img {
    width: 60%;
    height: 60%; 
    object-fit: cover;
}

.direccion {
    grid-area: direccion;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram_redes {
    grid-area: instagram_redes;
    display: flex;
    align-items: center;
    justify-content: end;
}

.wapp_redes {
    grid-area: wapp_redes;
    display: flex;
    align-items: center;
    justify-content: end;
}

footer img {
    width: 50px; 
    height: 50px; 
}

footer .direccion a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: small; 
    font-weight: 700;
}

/*? Responsive*/
@media (max-width: 768px) {
    .contenedor_footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "logo_los_albores"
            "direccion"
            "instagram_redes"
            "wapp_redes";
    }

    .logo_los_albores img {
        width: 50%; 
        height: 50%; 
    }

    footer img {
        width: 40px; 
        height: 40px;
    }
}

@media (max-width: 480px) {
    .logo_los_albores img {
        width: 40%;
        height: 40%; 
    }
/*? Responsive*/

    footer img {
        width: 30px; 
        height: 30px;
    }
}
/*! ---- FIN FOOTER ---- */

/*? PRODUCTOS*/

.contenedor-menu {
    background-color: rgba(0, 0, 0, 0.686);
    margin-top: 30px;
    padding: 2rem;
    color: rgba(242, 221, 195, 0.904);
    height: 100%;
}


.menu img {
    width: 400px;
    height: 450px;
    object-fit: cover;
}

#pizza, #panes {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

#pizza h2, #panes h2 {
    margin-bottom: 20px;
}

.accordion-item {
    background-color: rgba(0, 0, 0, 0.553);
    border: 1px solid #444;
    margin-bottom: 10px;
}

.accordion-header {
    background-color: #333;
}

.accordion-button {
    background-color: #333;
    color: #fff;
}

.accordion-button:not(.collapsed) {
    background-color: #444;
}

.accordion-body {
    background-color: #2a2a2a;
    color: #cccccc;
}

.accordion-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
}

/*? responsiv */
@media (max-width: 768px) {
    .accordion-button {
        font-size: 14px;
    }

    .accordion-body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .accordion-button {
        font-size: 12px;
    }

    .accordion-body {
        font-size: 12px;
    }
}

/*? Fin responsiv */

/*? FIN PRODUCTOS*/

